<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Posts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        {% if  user.is_authenticated %}
        </li>
         <li class="nav-item dropdown">
        <form action="{% url 'logout' %}"method="post">
            {%csrf_token %}
            <button class="nav-link" tupe="submit">Выйти</button>
        </form>

            </li>
        {% else %}
         </li>
         <li class="nav-item dropdown">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
            </li>
        {% endif %}
      </ul>

      <form class="d-flex" action= "{%url 'filter-notes'%}">
        <input name= "search" value= "{{search_value_form}}"
               style = "width:400px " class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>