{% extends 'base.html' %}

{% block title %}
    {{not.title}}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="text-center">
            <h2 class="display-5 link-body-emphasis mb-1">{{ note.title | upper }}</h2>

            <p class="blog-post-meta">{{ note.created_at }}</p>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Удалить</button>
            <button class="btn btn-primary" type="button">Редактировать</button>
        </div>
        <hr>
        <div>{{ note.content | linebreaks }}</div>
    </div>
{%endblock%}